* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#modelBrowser {
  display: none;
}

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #333333;
  background-color: white;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a,
.href {
  color: #cc4452;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
.href:hover {
  color: #e2949c;
  text-decoration: none;
}

label {
  white-space: nowrap;
  color: #8e8e8e;
}

h1, .h1 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #333333;
  line-height: 1em;
  letter-spacing: 1;
  margin: 0 0 0;
}

h2, .h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h3, .h3 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h4, .h4 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h5, .h5 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h6, .h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #333333;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

p {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 0 0;
}

.bold {
  font-weight: 700;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #eceeef;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.cursorPointer {
  cursor: pointer;
}

.pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.fit {
  width: 100%;
}

.ck img {
  max-width: 100%;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mxn0 {
  margin-left: -0;
  margin-right: -0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m1 {
  margin: 8px;
}

.mt1 {
  margin-top: 8px;
}

.mr1 {
  margin-right: 8px;
}

.mb1 {
  margin-bottom: 8px;
}

.ml1 {
  margin-left: 8px;
}

.mx1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mxn1 {
  margin-left: -8px;
  margin-right: -8px;
}

.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p1 {
  padding: 8px;
}

.pt1 {
  padding-top: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.pl1 {
  padding-left: 8px;
}

.px1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m2 {
  margin: 16px;
}

.mt2 {
  margin-top: 16px;
}

.mr2 {
  margin-right: 16px;
}

.mb2 {
  margin-bottom: 16px;
}

.ml2 {
  margin-left: 16px;
}

.mx2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mxn2 {
  margin-left: -16px;
  margin-right: -16px;
}

.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p2 {
  padding: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

.pl2 {
  padding-left: 16px;
}

.px2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m3 {
  margin: 24px;
}

.mt3 {
  margin-top: 24px;
}

.mr3 {
  margin-right: 24px;
}

.mb3 {
  margin-bottom: 24px;
}

.ml3 {
  margin-left: 24px;
}

.mx3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mxn3 {
  margin-left: -24px;
  margin-right: -24px;
}

.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p3 {
  padding: 24px;
}

.pt3 {
  padding-top: 24px;
}

.pr3 {
  padding-right: 24px;
}

.pb3 {
  padding-bottom: 24px;
}

.pl3 {
  padding-left: 24px;
}

.px3 {
  padding-left: 24px;
  padding-right: 24px;
}

.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m4 {
  margin: 32px;
}

.mt4 {
  margin-top: 32px;
}

.mr4 {
  margin-right: 32px;
}

.mb4 {
  margin-bottom: 32px;
}

.ml4 {
  margin-left: 32px;
}

.mx4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mxn4 {
  margin-left: -32px;
  margin-right: -32px;
}

.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p4 {
  padding: 32px;
}

.pt4 {
  padding-top: 32px;
}

.pr4 {
  padding-right: 32px;
}

.pb4 {
  padding-bottom: 32px;
}

.pl4 {
  padding-left: 32px;
}

.px4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 421px) {
  .sm-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .sm-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .sm-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .sm-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .sm-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .sm-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .sm-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .sm-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .sm-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .md-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .md-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .md-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .md-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .md-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .md-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .md-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .md-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .md-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .md-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .lg-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lg-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lg-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lg-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lg-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lg-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lg-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lg-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1px) and (max-width: 420px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs-hide {
    display: none;
  }
  .mxn2 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .mxn2 > .p2 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .container {
    max-width: 520px;
  }
  .sm-hide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .md-hide {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .container {
    max-width: 1025px;
  }
  .lg-hide {
    display: none;
  }
}

@media (min-width: 1365px) and (max-width: 9999px) {
  .container {
    max-width: 1170px;
  }
  .xl-hide {
    display: none;
  }
}

[class*='image-scale-'] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

[class*='image-scale-']:before {
  content: "";
  display: block;
}

[class*='image-scale-'].image-scale-1by1:before {
  padding-top: calc(1/1 * 100%);
}

[class*='image-scale-'] iframe,
[class*='image-scale-'] .contain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

[class*='image-scale-'] img.contain {
  -o-object-fit: cover;
     object-fit: cover;
}

router-outlet {
  display: block;
  height: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotating:before {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

::-moz-selection {
  background: #cc4452;
  color: #000;
}

::selection {
  background: #cc4452;
  color: #000;
}

[class*='flaticon-']:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-next:before {
  content: "\f100";
}

.flaticon-left-arrow:before {
  content: "\f101";
}

.flaticon-up-arrow:before {
  content: "\f102";
}

.flaticon-quote:before {
  content: "\f103";
}

.flaticon-right-quote-sign:before {
  content: "\f104";
}

.flaticon-add-button:before {
  content: "\f105";
}

.flaticon-minus-sign-inside-a-black-circle:before {
  content: "\f106";
}

.flaticon-placeholder:before {
  content: "\f107";
}

.flaticon-phone-call:before {
  content: "\f108";
}

.flaticon-e-mail-envelope:before {
  content: "\f109";
}

.flaticon-whatsapp-logo:before {
  content: "\f10a";
}

.flaticon-group:before {
  content: "\f10b";
}

.flaticon-calendar-with-spring-binder-and-date-blocks:before {
  content: "\f10c";
}

.flaticon-quill-drawing-a-line:before {
  content: "\f10d";
}

.flaticon-menu:before {
  content: "\f10e";
}

.flaticon-language:before {
  content: "\f10f";
}

.flaticon-spinner-of-dots:before {
  content: "\f110";
}

.flaticon-facebook-logo-button:before {
  content: "\f111";
}

.overflow-auto {
  overflow: auto;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.ck * {
  line-height: 1.25;
}

.mxnr {
  margin-left: -8px;
  margin-right: -8px;
}

.pr {
  padding: 8px;
}

@media (min-width: 1025px) {
  .mxnr {
    margin-left: -16px;
    margin-right: -16px;
  }
  .pr {
    padding: 16px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1, .h1 {
    font-size: 1.5rem;
  }
  h2, .h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

address {
  font-style: normal;
}

[class^='btn-'] {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  color: white;
  border-radius: 3px;
  border: none;
  display: block;
  outline: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  position: relative;
}

[class^='btn-'].disabled {
  color: #abc0dc;
}

[class^='btn-'].disabled:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: not-allowed;
}

.btn-primary {
  background: #cc4452;
}

.btn-primary:hover:not(.disabled), .btn-primary.active:not(.disabled) {
  background: #c23543;
  color: white;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v12-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v12-latin-regular.woff") format("woff"), url("../fonts/montserrat-v12-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v12-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/source-sans-pro-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-regular.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-regular.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/source-sans-pro-v11-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url("../fonts/source-sans-pro-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-italic.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-italic.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-italic.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source-sans-pro-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/source-sans-pro-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/source-sans-pro-v11-latin-700.woff2") format("woff2"), url("../fonts/source-sans-pro-v11-latin-700.woff") format("woff"), url("../fonts/source-sans-pro-v11-latin-700.ttf") format("truetype"), url("../fonts/source-sans-pro-v11-latin-700.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.backgroundImage {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover {
  margin: 200px auto;
}

.cover .content {
  border-style: dashed;
  border-width: 5px;
  border-color: white;
  background-color: #4eadc7;
  position: relative;
  width: 100%;
  height: 100%;
}

.cover .content .close {
  width: 100%;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.cover .content .close:before {
  content: '';
  background: url(closeButton.png);
  background-size: cover;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  margin-top: -15px;
  margin-right: -15px;
}

.cover .content .titleContent {
  padding: 35px;
}

.cover .content .titleContent h1 {
  color: white;
}

.cover .content .titleContent p {
  margin-top: 15px;
  color: white;
  font-size: 20px;
}

.cover .content .titleContent p b {
  font-size: 24px;
  color: white;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */